## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [8]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [15]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[98, 25, 20, 7, 8, 0, 40, 18, 10, 87, 80, 45, 89, 91, 58, 29, 92, 36, 9, 94, 38, 67, 13, 33, 35, 27, 22, 17, 24, 79, 76, 1, 56, 3, 28, 21, 86, 73, 74, 16, 50, 34, 32, 31, 39, 75, 6, 69, 53, 62, 48, 30, 4, 71, 88, 82, 70, 2, 83, 65, 99, 68, 43, 14, 78, 37, 41, 63, 46, 96, 61, 5, 51, 19, 77, 55, 15, 66, 64, 47]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [16]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

#Sigue siendo 80 porque son valores unicos

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [18]:
# Your code here
sample_list_2 = random.choices(range(100), k=80)
print(sample_list_2)

[39, 99, 60, 59, 61, 25, 12, 22, 55, 9, 76, 82, 4, 81, 50, 57, 96, 36, 75, 96, 0, 65, 38, 86, 4, 72, 1, 98, 41, 42, 12, 55, 65, 52, 65, 86, 59, 73, 16, 33, 79, 11, 80, 87, 49, 14, 22, 54, 23, 51, 94, 50, 39, 17, 88, 61, 98, 87, 15, 89, 18, 98, 47, 86, 79, 59, 90, 97, 10, 25, 66, 65, 27, 62, 81, 37, 15, 58, 63, 99]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

#El length ya no es 80 porque no puede haber valores repetidos en los sets

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [21]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{2, 3, 5, 6, 7, 8, 13, 19, 20, 21, 24, 28, 29, 30, 31, 32, 34, 35, 40, 43, 45, 46, 48, 53, 56, 64, 67, 68, 69, 70, 71, 74, 77, 78, 83, 91, 92}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [25]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{97, 72, 42, 11, 12, 49, 81, 52, 54, 23, 57, 90, 59, 60}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 4, 9, 10, 14, 15, 16, 17, 18, 22, 25, 27, 33, 36, 37, 38, 39, 41, 47, 50, 51, 55, 58, 61, 62, 63, 65, 66, 73, 75, 76, 79, 80, 82, 86, 87, 88, 89, 94, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [51]:

#Length de set5 y set3 sumadas es la misma que set 1 => len(set1) = len(set3+set5)
#Length de set2 es la misma que set5 y set4 sumadas  => len(set2) = len(set5+set4)

if len(set1)==(len(set3)+len(set5)):
    print("Comment 1 is True")
if len(set2)==(len(set5)+len(set4)):
    print("Comment 2 is True")

Comment 1 is True
Comment 2 is True

#### Create an empty set called `set6`.

In [57]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [58]:
# Your code here
Update = set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [59]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [61]:
# Your code here
check1 = set2.issubset(set1)
check2 = set3.issubset(set1)

print(check1)
print(check2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [63]:
# Your code here
sets345 = set3.union(set4, set5)
sets12 = set1.union(set2)

if sets345 == sets12:
    print("Both sets are equal")

Both sets are equal

#### Using the `pop` method, remove the first element from `set1`.

In [67]:
# Your code here
set1 = list(set1)
set1.pop(0)

#lo he ejecutado varias veces y se me han quitado los primeros 3 valores 

print(set1)

[4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 45, 46, 47, 48, 50, 51, 53, 55, 56, 58, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 86, 87, 88, 89, 91, 92, 94, 96, 98, 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [69]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
newSet = []
for x in set1:
    if x not in list_to_remove:
        newSet.append(x)
        
set1 = set(newSet)
print(set1)

{4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 50, 53, 55, 56, 58, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 86, 87, 88, 92, 94, 96, 98}