In [1]:
import sqlalchemy as db
import pandas as pd
import getpass

In [2]:
user = "root"
password = getpass.getpass("Type your password: ")
connectionURI = f"mysql+pymysql://{user}:{password}@localhost/publications"

Type your password: ········

In [3]:
engine = db.create_engine(connectionURI)
print("Connected to server!")

Connected to server!

In [4]:
#Challenge 1

In [5]:
#Step 1

In [6]:
pd.read_sql_query(
"""
  
   SELECT 
    authors.au_id AS 'AUTHOR ID',
    authors.au_fname AS 'FIRST NAME',
    authors.au_lname AS 'LAST NAME',
    sales.qty*titles.price*titleauthor.royaltyper/100*titles.royalty / 100 as 'PROFIT'

FROM authors
    INNER JOIN titleauthor ON authors.au_id=titleauthor.au_id
    INNER JOIN titles ON titles.title_id=titleauthor.title_id
    INNER JOIN sales on titleauthor.title_id=sales.title_id
        
ORDER BY PROFIT DESC

""",engine)

      AUTHOR ID FIRST NAME       LAST NAME   PROFIT
0   238-95-7766     Cheryl          Carson  110.160
1   807-91-6654     Sylvia        Panteley   83.800
2   427-17-2319        Ann            Dull   50.000
3   846-92-7186     Sheryl          Hunter   50.000
4   899-46-2035       Anne          Ringer   49.275
5   998-72-3567     Albert          Ringer   49.275
6   648-92-1872   Reginald  Blotchet-Halls   33.460
7   756-30-7391      Livia          Karsen   32.385
8   274-80-9391       Dean        Straight   29.985
9   172-32-1176    Johnson           White   29.985
10  213-46-8915   Marjorie           Green   25.116
11  712-45-1867      Innes    del Castillo   23.988
12  486-29-1786   Charlene        Locksley   19.975
13  724-80-9391    Stearns      MacFeather   17.925
14  998-72-3567     Albert          Ringer   17.500
15  722-51-5454     Michel        DeFrance   13.455
16  998-72-3567     Albert          Ringer   13.140
17  899-46-2035       Anne          Ringer   13.140
18  409-56-7008    Abraham          Bennet   11.994
19  672-71-3249      Akiko        Yokomoto   11.992
20  267-41-2394    Michael         O'Leary   11.950
21  724-80-9391    Stearns      MacFeather   10.795
22  472-27-2349       Burt      Gringlesby    8.994
23  267-41-2394    Michael         O'Leary    8.994
24  722-51-5454     Michel        DeFrance    8.073
25  213-46-8915   Marjorie           Green    7.996
26  998-72-3567     Albert          Ringer    6.570
27  899-46-2035       Anne          Ringer    6.570
28  409-56-7008    Abraham          Bennet    5.997
29  899-46-2035       Anne          Ringer    4.485
30  213-46-8915   Marjorie           Green    3.998
31  899-46-2035       Anne          Ringer    2.691
32  998-72-3567     Albert          Ringer    1.971
33  899-46-2035       Anne          Ringer    1.971

In [7]:
#Step 2

In [10]:
"""
  
   SELECT 
    authors.au_id AS 'AUTHOR ID',
    authors.au_fname AS 'FIRST NAME',
    authors.au_lname AS 'LAST NAME',
    SUM(sales.qty*titles.price*titleauthor.royaltyper/100*titles.royalty / 100) as 'PROFIT'

FROM authors
    INNER JOIN titleauthor ON authors.au_id=titleauthor.au_id
    INNER JOIN titles ON titles.title_id=titleauthor.title_id
    INNER JOIN sales on titleauthor.title_id=sales.title_id
        
GROUP BY authors.au_id, authors.au_id
ORDER BY PROFIT DESC



""", engine)

SyntaxError: invalid syntax (<ipython-input-10-5f068755295c>, line 19)