# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
from pymongo import MongoClient
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"

client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()

In [31]:
from pymongo import ASCENDING,DESCENDING

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [26]:
query={"name":{"$eq":"Babelgum"}}
list(db.companies.find(query, {"name":1,}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [19]:
query={"number_of_employees":{"$gt":5000}}
cur = list(db.companies.find(query, {"name":1}))
cur[:20]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'), 'name': 'Facebook'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9b'), 'name': 'eBay'},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc4'), 'name': 'Intel'},
 {'_id': ObjectId('52cdef7c4bab8bd675297da2'), 'name': 'Cisco'},
 {'_id': ObjectId('52cdef7c4bab8bd675297da3'), 'name': 'Yahoo!'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e49'), 'name': 'Nintendo'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e6f'), 'name': 'Sony'},
 {'_id': ObjectId('52cdef7c4bab8bd675297dba'), 'name': 'Google'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e5d'), 'name': 'Adobe Systems'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e8e'),
  'name': 'The Walt Disney Company'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'), 'name': 'PayPal'},
 {'_id': ObjectId('52cdef7c4bab8bd675297ea4'), 'name': 'Webkinz'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e96'), 'name': 'AOL'},
 {'_id': ObjectId('52cdef7c4bab8bd675297ee9'), 'name': 'Sun Microsystems'},
 {'_id': ObjectId('52cdef7c4bab8bd675297fcb'), 'name': 'Rakuten'},
 {'_id': ObjectId('52cdef7c4bab8bd675297fc2'), 'name': 'Nokia'},
 {'_id': ObjectId('52cdef7c4bab8bd67529809d'), 'name': 'Microsoft'},
 {'_id': ObjectId('52cdef7c4bab8bd675298189'), 'name': 'Apple'},
 {'_id': ObjectId('52cdef7c4bab8bd6752981b5'), 'name': 'NetApp'},
 {'_id': ObjectId('52cdef7c4bab8bd67529821b'), 'name': 'Motorola Solutions'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [24]:
query = {
    "$and":[
        {"founded_year":{"$gte":2000}},
        {"founded_year":{"$lte":2005}}
    ]
}

cur = list(db.companies.find(query, {"name":1,"founded_year":1}))
cur[:20]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'),
  'name': 'Zoho',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8f'),
  'name': 'Omnidrive',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'),
  'name': 'Digg',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297d96'),
  'name': 'Gizmoz',
  'founded_year': 2003},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9a'),
  'name': 'Helio',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d95'),
  'name': 'StumbleUpon',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297da1'),
  'name': 'Plaxo',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297da5'),
  'name': 'Technorati',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297dac'),
  'name': 'Veoh',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297da7'),
  'name': 'AddThis',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297db6'),
  'name': 'Wesabe',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297db2'),
  'name': 'Meetup',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297daf'),
  'name': 'Jingle Networks',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297db7'),
  'name': 'Jangl SMS',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297db8'),
  'name': 'SmugMug',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297db5'),
  'name': 'LifeLock',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297dbb'),
  'name': 'Jajah',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc3'),
  'name': 'Pando Networks',
  'founded_year': 2004}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [30]:
query = {
    "$and":[
        {"ipo.valuation_amount":{"$gt":100000000}},
        {"founded_year":{"$lte":2010}}
    ]
}
cur = list(db.companies.find(query, {"name":1,"ipo":1}))
cur[:20]

[{'_id': ObjectId('52cdef7c4bab8bd675297d94'),
  'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297de0'),
  'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e0c'),
  'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e81'),
  'name': 'Brightcove',
  'ipo': {'valuation_amount': 290000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 2,
   'pub_day': 17,
   'stock_symbol': 'NASDAQ:BCOV'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e7a'),
  'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297ee5'),
  'name': 'KIT digital',
  'ipo': {'valuation_amount': 235000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 7,
   'pub_day': 27,
   'stock_symbol': 'KITD'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f15'),
  'name': 'Nielsen',
  'ipo': {'valuation_amount': 1600000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 1,
   'pub_day': 26,
   'stock_symbol': 'NYSE:NLSN'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f36'),
  'name': 'OpenTable',
  'ipo': {'valuation_amount': 1050000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2009,
   'pub_month': 5,
   'pub_day': 21,
   'stock_symbol': 'NASDAQ:OPEN'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f42'),
  'name': 'ChannelAdvisor',
  'ipo': {'valuation_amount': 287000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 5,
   'pub_day': 23,
   'stock_symbol': 'NYSE:ECOM'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f95'),
  'name': 'Jive Software',
  'ipo': {'valuation_amount': 1000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 2,
   'pub_day': 3,
   'stock_symbol': 'NASDAQ:JIVE'}},
 {'_id': ObjectId('52cdef7c4bab8bd67529800c'),
  'name': 'Zillow',
  'ipo': {'valuation_amount': 2550000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 19,
   'stock_symbol': 'NASDAQ:Z'}},
 {'_id': ObjectId('52cdef7c4bab8bd67529805d'),
  'name': 'Wix',
  'ipo': {'valuation_amount': 750000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 6,
   'stock_symbol': 'NASDAQ:WIX'}},
 {'_id': ObjectId('52cdef7c4bab8bd675298112'),
  'name': 'Shutterfly',
  'ipo': {'valuation_amount': 350000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2006,
   'pub_month': 9,
   'pub_day': 29,
   'stock_symbol': 'SFLY'}},
 {'_id': ObjectId('52cdef7c4bab8bd6752981a7'),
  'name': 'TripAdvisor',
  'ipo': {'valuation_amount': 3273770000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 12,
   'pub_day': 21,
   'stock_symbol': 'TRIP'}},
 {'_id': ObjectId('52cdef7c4bab8bd67529823b'),
  'name': 'Salesforce',
  'ipo': {'valuation_amount': 110000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2004,
   'pub_month': 7,
   'pub_day': 2,
   'stock_symbol': 'NYSE:CRM'}},
 {'_id': ObjectId('52cdef7c4bab8bd6752982f6'),
  'name': 'HomeAway',
  'ipo': {'valuation_amount': 3000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 6,
   'pub_day': 29,
   'stock_symbol': 'NASDAQ:AWAY'}},
 {'_id': ObjectId('52cdef7c4bab8bd6752984e3'),
  'name': 'QuinStreet',
  'ipo': {'valuation_amount': 140000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 1,
   'pub_day': 11,
   'stock_symbol': 'NASDAQ:QNST'}},
 {'_id': ObjectId('52cdef7c4bab8bd675298527'),
  'name': 'Rackspace',
  'ipo': {'valuation_amount': 5440000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'RAX'}},
 {'_id': ObjectId('52cdef7c4bab8bd67529859a'),
  'name': 'BMC Software',
  'ipo': {'valuation_amount': 6000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1988,
   'pub_month': 8,
   'pub_day': 12,
   'stock_symbol': 'NASDAQ:BMC'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [43]:
query = {
    "$and":[
        {"number_of_employees":{"$lt":1000}},
        {"founded_year":{"$lte":2005}}
    ]
}
cur = list(db.companies.find(query,{"name":1,"number_of_employees":1}).sort("number_of_employees",DESCENDING))
cur[:10]

[{'_id': ObjectId('52cdef7d4bab8bd675298933'),
  'name': 'Infinera Corporation',
  'number_of_employees': 974},
 {'_id': ObjectId('52cdef7c4bab8bd675297e10'),
  'name': 'Box',
  'number_of_employees': 950},
 {'_id': ObjectId('52cdef7e4bab8bd67529ac95'),
  'name': 'NorthPoint Communications Group',
  'number_of_employees': 948},
 {'_id': ObjectId('52cdef7f4bab8bd67529be17'),
  'name': '888 Holdings',
  'number_of_employees': 931},
 {'_id': ObjectId('52cdef7c4bab8bd6752986a2'),
  'name': 'Forrester Research',
  'number_of_employees': 903},
 {'_id': ObjectId('52cdef7c4bab8bd6752984e9'),
  'name': 'Workday',
  'number_of_employees': 900},
 {'_id': ObjectId('52cdef7e4bab8bd67529af6d'),
  'name': 'SonicWALL',
  'number_of_employees': 900},
 {'_id': ObjectId('52cdef7e4bab8bd67529b21b'),
  'name': 'Webmetrics',
  'number_of_employees': 900},
 {'_id': ObjectId('52cdef7e4bab8bd67529b3bd'),
  'name': 'Cornerstone OnDemand',
  'number_of_employees': 881},
 {'_id': ObjectId('52cdef7c4bab8bd675297de0'),
  'name': 'Yelp',
  'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [48]:
query={"partners":{"$nin":[]}}
cur = list(db.companies.find(query,{"name":1}))
cur[:10]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8b'), 'name': 'AdventNet'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8a'), 'name': 'Wetpaint'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'), 'name': 'Zoho'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8f'), 'name': 'Omnidrive'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d92'), 'name': 'Flektor'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d90'), 'name': 'Postini'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'), 'name': 'Digg'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d91'), 'name': 'Geni'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d96'), 'name': 'Gizmoz'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9a'), 'name': 'Helio'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [57]:
query={ "category_code" : { "$type": 10 } }
cur = list(db.companies.find(query,{"name":1}))
cur[:20]

[{'_id': ObjectId('52cdef7c4bab8bd6752980f6'), 'name': 'Collective'},
 {'_id': ObjectId('52cdef7c4bab8bd675298225'), 'name': 'Snimmer'},
 {'_id': ObjectId('52cdef7c4bab8bd675298226'), 'name': 'KoolIM'},
 {'_id': ObjectId('52cdef7c4bab8bd675298261'), 'name': 'Level9 Media'},
 {'_id': ObjectId('52cdef7c4bab8bd675298262'), 'name': 'VidKing'},
 {'_id': ObjectId('52cdef7c4bab8bd67529826e'), 'name': 'Drigg'},
 {'_id': ObjectId('52cdef7c4bab8bd675298276'), 'name': 'SpaceTime'},
 {'_id': ObjectId('52cdef7c4bab8bd67529827a'), 'name': 'MMDAYS'},
 {'_id': ObjectId('52cdef7c4bab8bd67529827b'), 'name': 'Inside Group'},
 {'_id': ObjectId('52cdef7c4bab8bd675298279'), 'name': 'Touch Clarity'},
 {'_id': ObjectId('52cdef7c4bab8bd67529827e'), 'name': 'Repeater Store'},
 {'_id': ObjectId('52cdef7c4bab8bd675298288'), 'name': 'Tapesh'},
 {'_id': ObjectId('52cdef7c4bab8bd675298289'), 'name': 'iPersians'},
 {'_id': ObjectId('52cdef7c4bab8bd67529828a'), 'name': 'NewPersia'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982ab'), 'name': 'Pyra Labs'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982b3'), 'name': 'Feedmap'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982e0'), 'name': 'NuvoMedia'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982e4'), 'name': 'Intwine'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982ef'),
  'name': 'The Weinstein Company'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982f2'), 'name': 'ExecuNet'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [58]:
query = {
    "$and":[
        {"number_of_employees":{"$gte":100}},
        {"number_of_employees":{"$lte":1000}}
    ]
}
cur = list(db.companies.find(query,{"name":1,"number_of_employees":1}))
cur[:10]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8b'),
  'name': 'AdventNet',
  'number_of_employees': 600},
 {'_id': ObjectId('52cdef7c4bab8bd675297da7'),
  'name': 'AddThis',
  'number_of_employees': 120},
 {'_id': ObjectId('52cdef7c4bab8bd675297da8'),
  'name': 'OpenX',
  'number_of_employees': 305},
 {'_id': ObjectId('52cdef7c4bab8bd675297db5'),
  'name': 'LifeLock',
  'number_of_employees': 644},
 {'_id': ObjectId('52cdef7c4bab8bd675297dbb'),
  'name': 'Jajah',
  'number_of_employees': 110},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc0'),
  'name': 'Livestream',
  'number_of_employees': 120},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc1'),
  'name': 'Ustream',
  'number_of_employees': 250},
 {'_id': ObjectId('52cdef7c4bab8bd675297dda'),
  'name': 'iContact',
  'number_of_employees': 300},
 {'_id': ObjectId('52cdef7c4bab8bd675297de0'),
  'name': 'Yelp',
  'number_of_employees': 800},
 {'_id': ObjectId('52cdef7c4bab8bd675297df0'),
  'name': 'RockYou',
  'number_of_employees': 106}]

### 9. Order all the companies by their IPO price in a descending order.

In [66]:
query = {}
cur = list(db.companies.find(query,{"name":1}).sort("ipo.valuation_amount",DESCENDING).limit(20))
cur[:20]

[{'_id': ObjectId('52cdef7e4bab8bd67529a8b4'), 'name': 'GREE'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8e'), 'name': 'Facebook'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e7a'), 'name': 'Amazon'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d94'), 'name': 'Twitter'},
 {'_id': ObjectId('52cdef7d4bab8bd675299d5d'), 'name': 'Groupon'},
 {'_id': ObjectId('52cdef7c4bab8bd675298674'), 'name': 'Tencent'},
 {'_id': ObjectId('52cdef7e4bab8bd67529b996'), 'name': 'Western Digital'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e0c'), 'name': 'LinkedIn'},
 {'_id': ObjectId('52cdef7c4bab8bd67529859a'), 'name': 'BMC Software'},
 {'_id': ObjectId('52cdef7c4bab8bd675298527'), 'name': 'Rackspace'},
 {'_id': ObjectId('52cdef7c4bab8bd675298760'), 'name': 'Baidu'},
 {'_id': ObjectId('52cdef7c4bab8bd6752981a7'), 'name': 'TripAdvisor'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982f6'), 'name': 'HomeAway'},
 {'_id': ObjectId('52cdef7c4bab8bd67529800c'), 'name': 'Zillow'},
 {'_id': ObjectId('52cdef7c4bab8bd675297f15'), 'name': 'Nielsen'},
 {'_id': ObjectId('52cdef7c4bab8bd675297de0'), 'name': 'Yelp'},
 {'_id': ObjectId('52cdef7d4bab8bd67529984e'), 'name': 'Chegg'},
 {'_id': ObjectId('52cdef7d4bab8bd675299bd8'), 'name': 'Chegg'},
 {'_id': ObjectId('52cdef7e4bab8bd67529a415'), 'name': 'RPX Corporation'},
 {'_id': ObjectId('52cdef7c4bab8bd675298649'), 'name': 'Higher One'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [70]:
query = {}
cur=list(db.companies.find(query,{"name":1}).sort([("number_of_employees", DESCENDING)]).limit(10))
cur

[{'_id': ObjectId('52cdef7d4bab8bd67529941a'), 'name': 'Siemens'},
 {'_id': ObjectId('52cdef7c4bab8bd67529856a'), 'name': 'IBM'},
 {'_id': ObjectId('52cdef7d4bab8bd675299d33'), 'name': 'Toyota'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'), 'name': 'PayPal'},
 {'_id': ObjectId('52cdef7e4bab8bd67529b0fe'),
  'name': 'Nippon Telegraph and Telephone Corporation'},
 {'_id': ObjectId('52cdef7d4bab8bd675298aa4'), 'name': 'Samsung Electronics'},
 {'_id': ObjectId('52cdef7d4bab8bd675298b99'), 'name': 'Accenture'},
 {'_id': ObjectId('52cdef7e4bab8bd67529a657'),
  'name': 'Tata Consultancy Services'},
 {'_id': ObjectId('52cdef7e4bab8bd67529aa51'),
  'name': 'Flextronics International'},
 {'_id': ObjectId('52cdef7d4bab8bd675299156'), 'name': 'Safeway'}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [71]:
query = {"founded_month":{"$gte":7,"$lt":12}}
cur=list(db.companies.find(query,{"name":1}).limit(10))
cur

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'), 'name': 'Wetpaint'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'), 'name': 'Zoho'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8f'), 'name': 'Omnidrive'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'), 'name': 'Digg'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9d'), 'name': 'Joost'},
 {'_id': ObjectId('52cdef7c4bab8bd675297da1'), 'name': 'Plaxo'},
 {'_id': ObjectId('52cdef7c4bab8bd675297da4'), 'name': 'Powerset'},
 {'_id': ObjectId('52cdef7c4bab8bd675297daf'), 'name': 'Jingle Networks'},
 {'_id': ObjectId('52cdef7c4bab8bd675297db8'), 'name': 'SmugMug'},
 {'_id': ObjectId('52cdef7c4bab8bd675297db5'), 'name': 'LifeLock'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [72]:
query = {"$and":[{"founded_year":{"$lt":2000}},{"acquisition.price_amount":{"$gt" :10000000}}]}
cur=list(db.companies.find(query,{"name":1}).limit(10))
cur

[{'_id': ObjectId('52cdef7c4bab8bd675297d90'), 'name': 'Postini'},
 {'_id': ObjectId('52cdef7c4bab8bd675297deb'), 'name': 'SideStep'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e2c'), 'name': 'Recipezaar'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e97'), 'name': 'Snapfish'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'), 'name': 'PayPal'},
 {'_id': ObjectId('52cdef7c4bab8bd675297eaa'), 'name': 'Neopets'},
 {'_id': ObjectId('52cdef7c4bab8bd675297efe'), 'name': 'Zappos'},
 {'_id': ObjectId('52cdef7c4bab8bd675297f0c'), 'name': 'Alibaba'},
 {'_id': ObjectId('52cdef7c4bab8bd675297ee9'), 'name': 'Sun Microsystems'},
 {'_id': ObjectId('52cdef7c4bab8bd675297f29'), 'name': 'Lastminute'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [73]:
query = {"acquisition.acquired_year":{"$gt":2010}}
cur=list(db.companies.find(query,{"name":1, "acquisition":1}).sort([("acquisition.price_amount", DESCENDING)]).limit(10))
cur

[{'_id': ObjectId('52cdef7c4bab8bd675298876'),
  'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'_id': ObjectId('52cdef7f4bab8bd67529c228'),
  'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}},
 {'_id': ObjectId('52cdef7d4bab8bd675298b89'),
  'name': 'LSI',
  'acquisition': {'price_amount': 6600000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}},
 {'_id': ObjectId('52cdef7e4bab8bd67529a2b5'),
  'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.national.com/news/item/0,1735,1522,00.html',
   'source_description': 'TI to acquire National Semiconductor Complementary portfolios are foundation for growth',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 4,
   'acquiring_company': {'name': 'Texas Instruments',
    'permalink': 'texas-instruments'}}},
 {'_id': ObjectId('52cdef7d4bab8bd675298935'),
  'name': 'Ariba',
  'acquisition': {'price_amount': 4300000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/05/22/sap-to-acquire-ariba-for-4-3-billion/',
   'source_description': 'SAP To Acquire Ariba For $4.3 Billion',
   'acquired_year': 2012,
   'acquired_month': 5,
   'acquired_day': 22,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'_id': ObjectId('52cdef7f4bab8bd67529bff7'),
  'name': 'NetLogic Microsystems',
  'acquisition': {'price_amount': 3700000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2011/09/12/broadcom-buys-chipmaker-netlogic-for-3-7-billion/',
   'source_description': 'Broadcom Buys Chipmaking Technology Company Netlogic For $3.7 Billion',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 12,
   'acquiring_company': {'name': 'Broadcom', 'permalink': 'broadcom'}}},
 {'_id': ObjectId('52cdef7c4bab8bd6752981d6'),
  'name': 'SuccessFactors',
  'acquisition': {'price_amount': 3400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/02/22/successfactors-sap/',
   'source_description': 'After Closing $3.4B Acquisition Of SuccessFactors, SAP Pushes Human Capital Management In The Cloud',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 22,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'_id': ObjectId('52cdef7e4bab8bd67529aba6'),
  'name': 'Qualcomm Atheros',
  'acquisition': {'price_amount': 3100000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://www.sdbj.com/news/2011/may/24/qualcomm-brings-atheros-fold/',
   'source_description': 'Qualcomm Brings Atheros Into the Fold',
   'acquired_year': 2011,
   'acquired_month': 5,
   'acquired_day': 5,
   'acquiring_company': {'name': 'Qualcomm', 'permalink': 'qualcomm'}}},
 {'_id': ObjectId('52cdef7d4bab8bd675299727'),
  'name': 'Global Crossing',
  'acquisition': {'price_amount': 3000000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://techcrunch.com/2011/04/11/level-3-to-acquire-global-crossing-for-3-billion-in-stock/',
   'source_description': 'Level 3 To Acquire Global Crossing For $3 Billion In Stock',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 11,
   'acquiring_company': {'name': 'Level 3 Communications',
    'permalink': 'level-3'}}},
 {'_id': ObjectId('52cdef7d4bab8bd675299ab1'),
  'name': 'Global Crossing',
  'acquisition': {'price_amount': 3000000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://techcrunch.com/2011/04/11/level-3-to-acquire-global-crossing-for-3-billion-in-stock/',
   'source_description': 'Level 3 To Acquire Global Crossing For $3 Billion In Stock',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 11,
   'acquiring_company': {'name': 'Level 3 Communications',
    'permalink': 'level-3'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [77]:
query = {}
cur=list(db.companies.find(query,{"name":1,"founded_year":1}).sort([("founded_year", DESCENDING)]).limit(10))
cur

[{'_id': ObjectId('52cdef7c4bab8bd675297fec'),
  'name': 'Fixya',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7c4bab8bd67529801f'),
  'name': 'Wamba',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7c4bab8bd6752982d4'),
  'name': 'Advaliant',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7c4bab8bd67529830a'),
  'name': 'Fluc',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7d4bab8bd675298ea7'),
  'name': 'iBazar',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7d4bab8bd675298fe1'),
  'name': 'Gimigo',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7d4bab8bd675299291'),
  'name': 'SEOGroup',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7e4bab8bd67529a3b8'),
  'name': 'Clowdy',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7e4bab8bd67529a6e7'),
  'name': 'WhosCall',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7e4bab8bd67529b254'),
  'name': 'Pikk',
  'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [78]:
query = {"founded_day":{"$lte":7}}
cur=list(db.companies.find(query,{"name":1}).sort([("acquisition.price_amount", DESCENDING)]).limit(10))
cur

[{'_id': ObjectId('52cdef7d4bab8bd6752989a1'), 'name': 'Netscape'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'), 'name': 'PayPal'},
 {'_id': ObjectId('52cdef7c4bab8bd675297efe'), 'name': 'Zappos'},
 {'_id': ObjectId('52cdef7c4bab8bd675297f0c'), 'name': 'Alibaba'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d90'), 'name': 'Postini'},
 {'_id': ObjectId('52cdef7c4bab8bd67529831c'), 'name': 'Danger'},
 {'_id': ObjectId('52cdef7c4bab8bd675298651'), 'name': 'Clearwell Systems'},
 {'_id': ObjectId('52cdef7d4bab8bd6752989b8'), 'name': 'PrimeSense'},
 {'_id': ObjectId('52cdef7c4bab8bd675298207'), 'name': 'Amobee'},
 {'_id': ObjectId('52cdef7c4bab8bd675297ef1'), 'name': 'BlueLithium'}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [81]:
query = {"$and":[{"category_code":{"$eq":"web"}},{"number_of_employees":{"$gt":4000}}]}
cur=list(db.companies.find(query,{"name":1, "number_of_employees":1}).sort([("number_of_employees", ASCENDING)]).limit(10))
cur

[{'_id': ObjectId('52cdef7c4bab8bd67529822a'),
  'name': 'Expedia',
  'number_of_employees': 4400},
 {'_id': ObjectId('52cdef7c4bab8bd675297e96'),
  'name': 'AOL',
  'number_of_employees': 8000},
 {'_id': ObjectId('52cdef7c4bab8bd675297ea4'),
  'name': 'Webkinz',
  'number_of_employees': 8657},
 {'_id': ObjectId('52cdef7c4bab8bd675297fcb'),
  'name': 'Rakuten',
  'number_of_employees': 10000},
 {'_id': ObjectId('52cdef7c4bab8bd67529834c'),
  'name': 'Los Angeles Times Media Group',
  'number_of_employees': 10000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d5d'),
  'name': 'Groupon',
  'number_of_employees': 10000},
 {'_id': ObjectId('52cdef7c4bab8bd675297da3'),
  'name': 'Yahoo!',
  'number_of_employees': 13600},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9b'),
  'name': 'eBay',
  'number_of_employees': 15000},
 {'_id': ObjectId('52cdef7c4bab8bd6752982a8'),
  'name': 'Experian',
  'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [84]:
query = {"$and":[{"acquisition.price_amount":{"$gt":10000000}},{"acquisition.price_currency_code":{"$eq":"EUR"}}]}
cur=list(db.companies.find(query,{"name":1, "acquisition.price_amount":1, "acquisition.price_currency_code":1}).limit(10))
cur

[{'_id': ObjectId('52cdef7c4bab8bd675297f02'),
  'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'_id': ObjectId('52cdef7d4bab8bd675298bf3'),
  'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'_id': ObjectId('52cdef7d4bab8bd675298f47'),
  'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'_id': ObjectId('52cdef7e4bab8bd67529a536'),
  'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'_id': ObjectId('52cdef7e4bab8bd67529a729'),
  'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'_id': ObjectId('52cdef7e4bab8bd67529b747'),
  'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'_id': ObjectId('52cdef7f4bab8bd67529c0cf'),
  'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [89]:
query = {"acquisition.acquired_month":{"$lte":3}}
cur=list(db.companies.find(query,{"name":1, "acquisition":1}).limit(10))
cur

[{'_id': ObjectId('52cdef7c4bab8bd675297dab'),
  'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297db4'),
  'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dbf'),
  'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc0'),
  'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dda'),
  'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297de8'),
  'name': 'Coghead',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2009/02/19/sap-acquires-cogheads-technology-as-it-looks-towards-the-cloud/',
   'source_description': 'SAP Acquires Cogheadâ€™s Technology As It Looks Towards The Cloud',
   'acquired_year': 2009,
   'acquired_month': 2,
   'acquired_day': 19,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297df4'),
  'name': 'Netvibes',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.marketwatch.com/story/dassault-systemes-acquires-netvibes-2012-02-09',
   'source_description': 'Dassault Systemes Acquires Netvibes',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 9,
   'acquiring_company': {'name': 'Dassault Systemes',
    'permalink': 'dassault'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297df8'),
  'name': 'Flickr',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://news.cnet.com/Yahoo-buys-photo-sharing-site-Flickr/2100-1038_3-5627640.html?tag=mncol;txt',
   'source_description': 'CNET',
   'acquired_year': 2005,
   'acquired_month': 3,
   'acquired_day': None,
   'acquiring_company': {'name': 'Yahoo!', 'permalink': 'yahoo'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297df9'),
  'name': 'BabyCenter',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.investor.jnj.com/releasedetail.cfm?releaseid=63836',
   'source_description': 'Johnson & Johnson Acquires BabyCenter From eToys, Inc. Leading Online Destination for Parents Plans for Continued Expansion of Operations',
   'acquired_year': 2001,
   'acquired_month': 3,
   'acquired_day': 2,
   'acquiring_company': {'name': 'Johnson & Johnson',
    'permalink': 'johnson-johnson'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dee'),
  'name': 'Dailymotion',
  'acquisition': {'price_amount': 168000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/02/22/orange-acquired-dailymotion-for-168-million-by-buying-out-the-remaining-51-stake/',
   'source_description': 'Orange Acquired Dailymotion For $168 Million By Buying Out Remaining 51% Stake [Update: Orange Confirms]',
   'acquired_year': 2013,
   'acquired_month': 2,
   'acquired_day': 22,
   'acquiring_company': {'name': 'Orange', 'permalink': 'orange'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code